/* TODO:
-change font sizes for each piece
-add backgroung layer/add inner box
*/
body {
    background: #fff9da;
    color: rgb(253, 144, 166);
}

body.sunrise {
    background: #fff9da;
    color: rgb(253, 144, 166);
}

body.sunset {
    background: #254a8d;
    color: rgb(213, 199, 253);
}

h1 {
    font-family: "Libertinus Keyboard", sans-serif;

}

#widget {
    width: 250px;
    padding: 1rem;
    border-radius: 12px;
    /* rounded edges */
    box-shadow: 0 2px 8px rgba(150, 150, 150, 0.2);
    text-align: center;
    font-family: "Anonymous Pro 700", monospace;

}